*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    border: 1px solid #EBEBEB;
}
.upper-nav-bar{
    display: flex;
    align-items: center;
}
#google-logo{
    width: 5vw;
    height: 1.6vw;
    margin: 30px;
}
.searchbox{
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 25px;
    display: inline-block;
    width: 35vw;
    min-width: 320px;
    min-height: 30px;
    height: 4.5vh;
    margin-left: 20px;
    transition-property: box-shadow;
    transition-duration: 50ms;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.searchbox:hover{
    box-shadow: 1px 1px 4px #d3d4d4;
}
#search-input{
    /* background-color: #C0FFEE; */
    margin-right: 15px;
    margin-left: 15px;
    height: 25px;
    min-width: 220px;
    max-height: 1.8vw;
    width: 40vw;
}
#search-input[type="text"]{
    font-size: 16px;
}
#cancel-search-icon{
    min-width: 16px;
    max-width: 16px;
    fill: #80868B;
    margin-right: 16px;
    cursor: pointer;
}
#search-icon{
    min-width: 16px;
    max-width: 16px;
    fill: #4285F4;
    margin-right: 16px;
    cursor: pointer;
}

.right-side{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 48vw;
}
.three-by-three{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.lines{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quad{
    margin: 1px;
    width: 4px;
    height: 4px;
    background-color: #525050;
}
#sign-in{
    color: white;
    font-weight: bold;
    background: #4285f4;
    cursor: pointer;
    padding: 6px 10px 6px 10px;
    white-space: nowrap;
    margin-left: 30px;
}
#sign-in:hover{
    background: #1b71fb;
}
#img-avatar{
    white-space: nowrap;
    margin-left: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.bottom-nav-bar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 180px;
    list-style: none;
}
.bottom-nav-bar li{
    margin: 0 12px 2px 0;
    font-size: max(0.8vw, 12px);
}
.bottom-nav-bar svg{
    margin: 5px;
}
.bottom-nav-bar li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-left: 0.15em;
    padding-right: 0.15em;
    padding-bottom: 0.05em;
    position: relative;
    color: grey;
}
.bottom-nav-bar li a[id="selected"]::after {
    content: '';
    position: absolute;
    top: 100%;
    border-bottom: 0.225em solid #1A73E8;
    transition: all 0.25s;
    right: 0;
    left: 0;  
}
#bottom-nav-divider{
    width: 44px;
}

/* CONTENT STYLING */

.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0 0 185px;
}
#results-count{
    font-size: 14px;
    margin-bottom: 20px;
    color: #70757A;
}
.search-result-wrapper{
    max-width: 600px;
}
.search-result-link{
    display: flex;
    align-items: center;
    color: #202124;
}
.sub-link{
    color: #5F6368;
    margin-left: 5px;
}
.search-result-title{
    font-size: 1.2rem;
    text-decoration: none;
    color: #1A0DAB;
    position: relative;
    line-height: 34px;
}
.search-result-title::after{
    content: '';
    position: absolute;
    border-bottom: 1px solid #1A0DAB;
    top: 100%;
    right: 50%;
    left: 50%;
}
.search-result-title:hover::after{
    right: 0;
    left: 0;
}
.search-result-description{
    color: #4D5156;
}
.keyword{
    display: inline-block;
    color: #5F6368;
    font-weight: 510;
}
.search-article{
    margin-bottom: 30px;
}

/* VIDEOS SECTION */

.video-section-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.video-section-title-wrapper{
    display: flex;
    align-items: center;
    position: relative;
}
.section-title{
    font-size: 22px;
    margin-left: 10px;
    margin: 5px 0 5px 0;
}
.section-title-icon{
    fill:#80868B; 
    width: 22px;
    margin-right: 5px;
}

.video-block-wrapper{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 645px;
    position: relative;
}
.video-block{
    width: 210px;
    height: 300px;
    border-radius: 12px;
    border: 1px solid #DFE1E5;
    position: relative;
}
.video-thumbnail-container{
    width: 100%;
    height: 38%;
    z-index: 1;
    position: relative;
}
.video-thumbnail-container img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 11px 11px 0 0;
}
.play-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 38%;
    z-index: 2;
}
.play-btn-container svg{
    fill: white;
    width: 38px;
    height: auto;
    cursor: pointer;
}

.video-metadata{
    position: absolute;
    bottom: 0;
    padding: 15px;
}
.video-metadata p{
    line-height: 20px;
    white-space: nowrap;
    position: relative;
    font-size: 14px;
    color: #808080;
}
.blacked-name{
    color: black;
}
.video-title{
    padding: 15px;
}
.video-title a{
    text-decoration: none;
}
.video-title a:hover{
    text-decoration: underline;
}

.view-all-btn{
    margin: 24px 0 24px 0;
    width: 645px;
    height: 1px;
    background-color: #DADCE0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.view-all-btn div{
    border: 1px solid #DADCE0;
    background-color: white;
    border-radius: 15px;
    width: 45%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #281CB0;
    font-size: 14px;
    cursor: pointer;
}
.view-all-btn div:hover{
    background-color: #FAFAFA;
}
.view-all-btn p{
    cursor: pointer;
}

.view-all-btn svg{
    position: absolute;
    margin-right: 240px;
    width: 16px;
    fill: #281CB0;
    cursor: pointer;
}

.people-also-search-container{
    margin-bottom: 15px;
    border: 1px solid #DADCE0;
    border-radius: 10px;
    width: 550px;
    height: 150px;
}
.link-columns{
    columns: 2;
    margin-top: 5px;
}
.link-columns a{
    text-decoration: none;
    color: #1A0DAB;
    line-height: 25px;
    display: block;
}
.link-columns a:hover{
    text-decoration: underline;
}
.people-also-search-padding{
    padding: 15px;
}

/* GOOGLE IMAGES */
.images-section-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.images-section-tags-list{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.images-section-tags-list li{
    font-size: 14px;
    border: 1px solid #DADCE0;
    border-radius: 25px;
    padding: 8px 12px;
    margin: 15px 6px 50px 0;
    cursor: pointer;
}
.images-section-tags-list li:hover{
    background-color: #F8F9FA;
}
#dropdown svg{
    width: 14px;
    height: auto;
}
#dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin-left: 15px;
    border-radius: 100%;
}

/* PEOPLE ASK */
.people-ask-container{
    margin-top: 30px;
    margin-bottom: 15px;
    border: 1px solid #DADCE0;
    border-radius: 10px;
    width: 650px;
    height: 300px;
}
.people-ask-style{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.people-ask-question-block p{
    padding: 10px;
    margin-left: 12px;
}
.people-ask-question-block{
    border-bottom: 1px solid #DADCE0;

}
.people-ask-question-block svg{
    float: right;
    width: 14px;
    height: auto;
    padding: 5px 0 0 0;
    cursor: pointer;
}
#people-ask-title p{
    font-size: 20px;
    font-weight: 500;
}


.relates-search-container{
    margin-bottom: 15px;
    border-radius: 10px;
    width: 550px;
    height: 150px;
}
#related-search-title{
    margin-bottom: 15px;
    font-size: 21px
}
.link-columns{
    columns: 2;
    margin-top: 5px;
}
.link-columns a{
    text-decoration: none;
    color: #1A0DAB;
    line-height: 24px;
    font-size: 17px;
    display: block;
}
.link-columns a:hover{
    text-decoration: underline;
}
.related-search-padding{
    padding: 15px;
    padding-left: 0;
}

/* MORE PAGES */
.bottom-pages-nav{
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom-pages-nav a{
    padding: 3px;
    text-decoration: none;
}
.bottom-row-container{
    margin-left: 44px;
}
#bottom-next-page-btn{
    margin-left: 44px;
}
.upper-row-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.upper-row-container svg{
    width: 19px;
    height: auto;
    fill: blue;
    margin-left: 10px;
}

/* FOOTER */
footer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: -174%;
    width: 100%;
    overflow: hidden;
    background-color: #EFEFEF;
}
.lang-footer a{
    text-decoration: none;
    color: #000000;
}
.general-footer a{
    text-decoration: none;
    color: #000000;
}
.lang-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    list-style: none;
    width: 100vw;
    margin-left: 170px;
}
.general-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    list-style: none;
    margin-left: 170px;
}
.general-footer li{
    margin-right: 15px;
}